body{

    background-image: url("school.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.con{
    height:400px;
    width:350px;
    background: none;
    position: absolute;
    font-size: 45px;
    color: black;
    font-weight: 800;
    top: 250px;
    left: 200px;
    border-radius: 10px;
}